<html>
<head>
<meta charset="utf-8"/>
<link rel="stylesheet" href="http://openlayers.org/en/v3.3.0/css/ol.css" type="text/css">
<style>
#map {
       width: 800px;
       height: 500px;
       border: 2px solid black;
     }
</style>
    
<script>

$(document).bind('cbox_complete', function() {
       
       var search = JSON.parse("{{ search }}")
       if (document.getElementById("map").childNodes.length == 0) {
              var map = new OpenLayers.Map('map');
              map.addLayer( new OpenLayers.Layer.OSM() );
              var projFrom = new OpenLayers.Projection("EPSG:4326");
              var projTo = new OpenLayers.Projection("EPSG:900913");
              var center = new OpenLayers.LonLat(2,47);
              var cproj = center.transform(projFrom, projTo);
              map.setCenter(cproj, 5);
              var size = new OpenLayers.Size(21,25);
              var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
              var icon = new OpenLayers.Icon('http://openlayers.org/api/img/marker.png', size, offset);
              var markers = new OpenLayers.Layer.Markers( "Markers" );
              map.addLayer(markers);
              
              for (i=0; i<search.length; i++) {
                     ent_id = search[i]
                     $.ajax({
                            async:false,
                            url: "{% url 'crm_get_addr' %}?term=" + ent_id + "&type=e",
                            success: function(data) {
                                   entity_name = data.name
                                   if (data.lat && data.lon) {
                                          lat = data.lat;
                                          lon = data.lon;
                                          var markers = new OpenLayers.Layer.Markers( entity_name );
                                          var mcenter = new OpenLayers.LonLat(lon,lat);
                                          var mproj = mcenter.transform(projFrom, projTo);
                                          mark = new OpenLayers.Marker(mproj,icon.clone())
                                          mark.events.register('mouseover', mark, function() {     
                                                 var popup = new OpenLayers.Popup.FramedCloud("Popup", mproj, null, markers.name, null, false);          
                                                 map.addPopup(popup);                                             
                                                 markers.events.register('mouseout', markers, setTimeout( function() { popup.destroy(); }, 1000));           
                                          });
                                          markers.addMarker(mark);
                                          map.addLayer(markers);
                                          
                                          
                                   }
                                   else if (data.address) {
                                          var address = data.address
                                          address = address + ", " + data.city;
                                          latitude = data.latitude;
                                          longitude = data.longitude;
                                          
                                          address = address.split(" ").join("+");
                                          
                                          $.ajax({
                                                 async:false,
                                                 url: "http://nominatim.openstreetmap.org/search?q="+address+"&format=jsonv2",
                                                 success: function(data) {       
                                                        if (data[0] != null) {
                                                               lat = data[0].lat;
                                                               lon = data[0].lon;
                                                               // Ajout d'un calque en utilisant le rendu par défaut
                                                               var markers = new OpenLayers.Layer.Markers( entity_name );
                                                               var center = new OpenLayers.LonLat(lon,lat);
                                                               var mproj = center.transform(projFrom, projTo);
                                                               mark = new OpenLayers.Marker(mproj,icon.clone())
                                                               
                                                               mark.events.register('mouseover', mark, function() {    
                                                                      var popup = new OpenLayers.Popup.Framed("Popup", mproj, null, markers.name, null, false);          
                                                                      map.addPopup(popup);                                             
                                                                      markers.events.register('mouseout', markers, setTimeout( function() { popup.destroy(); }, 700));           
                                                               });
                                                               markers.addMarker(mark);
                                                               map.addLayer(markers);
                                                               $.ajax({
                                                                      async:false,
                                                                      url: "{% url 'crm_put_coords' %}?ent="+ ent_id +"&lat="+lat+"&lon="+lon+"&type=e",
                                                                      success: function(data) {
                                                                      }
                                                               })
                                                               
                                                        }
                                                        console.log(entity_name + " : no valid address")
                                                 }
                                          });
                                   }  
                            }
                     });    
              }
       }
})

       </script>
</head>

<body>
       <span class="glyphicon glyphicon-warning-sign" id='warning' style="color:red"></span><strong>The map may take time to display, depending on the number of results.</strong>
       <div id="map"></div>

</body>
</html>